body{
    margin: 0px;
}
.boxes {
    width: 30%;
    height: clamp(150px,20vw,300px);
    margin-left: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    gap: 10px;
}

.row {
    height: 45%;
    gap: 20px;

    display: flex;
}

h1,
h3 {
    text-align: center;
}

.box {
    height: 100%;
    aspect-ratio: 1 / 1;
    /* height: 100px;
    width: 100px; */
    border: 5px solid black;
    border-radius: 20px;
}

.red {
    background-color: red;

}

.animation {
    animation: Animate 250ms linear 0ms 1 normal backwards;
}

.LosingAnimation {
    animation: LosingAnimation 1000ms linear 0ms 1 normal backwards;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow
}

@keyframes Animate {
    0% {
        /* background-color: green; */
    }

    20% {
        background-color: white;
        border: 6px solid purple;
    }

    80% {
        background-color: white;
        border: 6px solid green;
    }

    100% {
        /* background-color: green; */
    }

}

@keyframes LosingAnimation {
    0% {
        background-color: white;
    }

    16% {
        background-color: red;
    }

    32% {
        background-color: white;
    }

    49% {
        background-color: red;
    }

    63% {
        background-color: white;
    }

    81% {
        background-color: red;
    }

    100% {
        background-color: white;
    }
}

.bt {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
}

.start {
    width: 8rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid black
}

.result {
    position: relative;
    top: 50px;
    height: 100px;
    width: 98vw;
    /* margin-left:1vw; */
    font-size: 45px;
    color: rgb(85, 0, 82);
    text-align: center;
}
/* responsive */
@media (max-width:280px){
h1{
    font-size: 1.5em;
}
.start{
    width:6rem;
    font-size: 1rem;
    font-weight: 600;
}
}
